#root {
  .main {
    width: 100%;
    height: 1000px;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
    .title {
      font-size: 50px;
      font-weight: bold;
    }
    .content {
      margin-top: 50px;
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: 600;
    }
    .write {
      border-radius: 10px;
      background-color: yellow;
      font-weight: bold;
      font-size: 30px;
      color: black;
    }
  }
  .input {
    width: 100%;
    height: 500px;
    text-align: center;
    .inputmonth {
      font-size: 15px;
      font-weight: bold;
      input {
        width: 50px;
        height: 30px;
        border: solid 1px orange;
        border-radius: 5px;
      }
    }
    .content {
      margin-top: 20px;
      input {
        width: 500px;
        height: 500px;
        border: solid 1px orangered;
        border-radius: 10px;
      }
    }
  }
}
